# 自动安装缺失的 peer 依赖（peer dependencies）
auto-install-peers = true
# 使所有依赖被提升（hoisted）到顶层的 node_modules 目录。
shamefully-hoist=true
# 对 peerDependencies 的严格检查
strict-peer-dependencies=false
shell-emulator=true
package-manager-strict=false